@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.lecture-container h1 {
  font-family: 'Orbitron';
  font-weight: 900;
  font-size: 40px;
}

.highlight {
  width: 6em;
  height: 0.8vh;
  margin-top: 0.2vh;
  margin-left: 0.2em;
  background: #F2B630;
  box-shadow: -0.2em 0.2em 0 1px black;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8vh;
}

.image-container div {
  text-align: center;
}

.image-container img {
  border-radius: 50%;
  border: 15px solid #F2B630;
}

.image-container h2 {
  margin-top: 4vh;
  font-family: 'Roboto';
  font-weight: 700;
}

.image-container h3 {
  font-family: 'Roboto';
  font-weight: 400;
}
